@page
@model LogoutModel
@{
    ViewData["Title"] = "Logga ut";
}


<h2>@ViewData["Title"]</h2>
<div class="logout">
    @{
        if (User.Identity.IsAuthenticated)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="btn btn-primary">Klicka här för att logga ut</button>
            </form>
        }
        else
        {
            <p>Du är nu utloggad.</p>
        }
    }
</div>
