@{
    ViewData["Title"] = "Produkter";
}

<h2>Produkter</h2>
<section class="products">
    <div class="products-row">
        <div class="single-product product-one">
            <img class="product-img" alt="Image" src="~/images/yoga1.jpg">
            <h3 class="product-heading">Yogamatta</h3>
            <p>Yogamatta tillverkad av bambu</p><br /><p>Vår yogamatta är extra slitstark och processen att tillverka den har varit skonsam mot miljön.</p>
        </div>
        <div class="single-product product-two">
            <img class="product-img" alt="Image" src="~/images/capsule1.jpg">
            <h3 class="product-heading">D-vitamin</h3>
            <p>Det är svårt att få i sig tillräckligt med D vitamin under vinterhalvåret och därför har vi utvecklat ett högdoserade D-vitamintillskott. </p><br /> <p>D-vitamin har flera viktiga funktioner i kroppen, såsom att upprätthålla ett fungerande immunsystem och stärka upp skelett och tänder.</p>
        </div>
        <div class="single-product product-three">
            <img class="product-img" alt="Image" src="~/images/capsules4.jpg">
            <h3 class="product-heading">E-vitamin</h3>
            <p>E-vitamin är en antioxidant och behövs i kroppen för att skydda våra vävnader genom att förhindra att de fleromättade fettsyrorna som bygger upp membranen bryts ner.</p>
        </div>
    </div>
    <div class="products-row">
        <div class="single-product product-one">
            <img class="product-img" alt="Image" src="~/images/pillCombo.jpg">
            <h3 class="product-heading">Vitaminlådan</h3>
            <p>Vår vitaminlåda har precis den kombinationen av vitaminer och mineraler som de flesta av oss har svårt att tillgodogöra oss via kosten.</p><br />
        </div>
        <div class="single-product product-two">
            <img class="product-img" alt="Image" src="~/images/te1.jpg">
            <h3 class="product-heading">Avslappnade te</h3>
            <p>Detta te är för dig som har svårt att komma ner i varv innan du ska sova. </p><br /><p>Vårt avslappnande te innehåller ämnen som gör att kroppen enklare slappnar av och gör även hjärnan sömnigare.</p>
        </div>
    </div>
</section>

