@{
    ViewData["Title"] = "Återförsäljare";
}



<h2>Våra återförsäljare</h2>
<h3>Fysiska butiker</h3>
<ul class="retail-list">
    <li>Lilla Gnistan, Helsingborg</li>
    <li>Kimchi Chi, Fagersta</li>
    <li>Mindful, Eskilstuna</li>            
    <li>Body and mind, Stockholm</li>
    <li>Svenska hälsokällan, Stockholm</li>
    <li>Stadighuset, Västerås</li>
    <li>Agnetas Hälsobod, Örebro</li>
</ul>
<h3>Nätbutiker</h3>
<ul class="retail-list">
    <li><a href="https://www.bodystore.com/">BodyStore</a></li>
    <li><a href="https://www.gymgrossisten.com/">Gymgrossisten</a></li>
    <li><a href="https://www.svensktkosttillskott.se/">Svenskt Kosttillskott</a></li>
    <li><a href="https://www.svenskhalsokost.se/">Svensk hälsokost</a></li>
    <li><a href="https://www.lifebutiken.se/">Life</a></li>
</ul>
